@model Employee

@{
    ViewBag.Title = "Details";
    var imageUrl = "/images/" + (Model.ImageUrl??"default.png");
}


<h1>Details </h1>


<div class="row my-5">
    <div class="col-12 mx-auto">
        <div  class="card">
            <h5 class="card-header text-danger display-3 text-center">@Model.Name</h5>
            <div class="text-center">
                <img asp-append-version="true" src="@imageUrl" alt="@Model.Name" class="card-img-top" style="width:40%;height:40%; object-fit: cover"/>
            </div>
            <div class="card-body text-center">
                <p class="card-text display-4">
                    <span class="text text-info">@Model.Departement</span> <br/>
                    @Model.Email
                </p>
                <div class="text-white">
                    <a class="btn btn-sm btn-dark" asp-action="Index" asp-controller="Employee">Back to list</a>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>



