@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "Employees";
}

<div class="alert alert-info my-5 text-center">List Of Employees</div>
<div class="row">
    @foreach(Employee item in Model)
    {
        <div class="col-12 col-sm-6 mb-2 col-lg-4">
            <div  class="card">
                <img src="@item.ImageUrl" alt="@item.Name" class="card-img-top" width="50" height=210 style="object-fit: cover"/>
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">
                        @item.Email<br/>
                        @item.Departement
                    </p>
                    <div class="text-white">
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm my-auto btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
